# Ignorar todo el core de Odoo
odoo/

# Pero incluir explícitamente tu módulo
!odoo/custom/
!odoo/custom/src/
!odoo/custom/src/unla-desarrollos/
!odoo/custom/src/unla-desarrollos/**

# Archivos y carpetas innecesarias
__pycache__/
*.pyc
*.log
*.db
*.egg-info
venv/
.env

